@import "npm:bulma/css/bulma.css";
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

 * {
 color: #fff;
}
/* Styling for the task list container */
.task-list {
  /* max-width: 800px; */
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}
h1 {
  /* color: #aa8e8d; */
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}
/* Styling for each task item */
.task-item {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
  /* margin-top: 20px; */
  border-bottom: 1px solid #34495e;
  /* border-top: 1px solid #34495E; */
}

.task-item > span {
  flex-grow: 1;
  font-size: 28px;
  /* font-weight: bold; */
  /* background-color: red */
}

/* Styling for the checkbox */
.task-item input[type="checkbox"] {
  margin-right: 10px;
}

/* Styling for the delete button */
.task-item button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

/* Optional: Styling for completed tasks */
.task-item.completed span {
  text-decoration: line-through;
  color: #ccc;
}

.column h1 {
  text-align: center;
}

.wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  margin-top: 20px;
}


@keyframes gradient {
        0% {
                background-position: 0% 50%;
        }
        50% {
                background-position: 100% 50%;
        }
        100% {
                background-position: 0% 50%;
        }
}
